{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Blog</title>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700"
      rel="stylesheet"
    />
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Custom CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  </head>
  <body class=" bg-info-subtle" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="{% url 'blog:index' %}">
              <span class="brand-name font-weight-bold">In<span class="brand-accent text-warning bg-dark font-weight-bold">Fomin</span></span>
          </a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog:add' %}">
                          <button class="btn btn-sm btn-success">+ New Blog Post</button>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog:about' %}">About</a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog:contact' %}">Contact</a>
                  </li>
                  <li class="nav-item">
                      {% if user.is_authenticated %}
                      <span class="nav-link">
                          Hi {{ user.username }}!
                          <a href="{% url 'logout' %}" class="btn btn-sm btn-danger ml-2">Log out</a>
                      </span>
                      {% else %}
                      <span class="nav-link">
                          <a href="{% url 'signup' %}" class="btn btn-sm btn-primary">Sign Up</a>
                          <a href="{% url 'login' %}" class="btn btn-sm btn-outline-primary ml-2">Log In</a>
                      </span>
                      {% endif %}
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  

    <div class="container mt-4 ">{% block content %}     {% endblock content %}</div>
    <footer class="footer mt-5 py-3 bg-dark text-white">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                 
                  <h2 class=" text-white">&copy;About Us</h2>
    <p>Welcome to InFomin! We are Amit and Ashutosh, the creators of this platform.</p>
    <p>We are passionate about sharing knowledge and insights on various topics through engaging blog posts.</p>
    <p>Our goal is to provide valuable content that informs, educates, and entertains our readers.</p>
    <p>Feel free to explore our posts and join us in our journey of learning and discovery.</p>
              </div>
              <div class="col-md-6 text-md-right">
                  <a href="{% url 'blog:about' %}" class="text-white">About Us</a> |
                  <a href="#" class="text-white">Contact</a>
              </div>
              <div class="col text-right">
                <a href="" class="text-white">infomin@gmail.com</a> |
                <a href="#" class="text-white">9142564757</a>
            </div>
          </div>
      </div>
  </footer>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
