{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
       
                <div class="card-body bg-white text-body">
                    <h2 class="card-title text-info ">About InFomin</h2>
                    <p>Welcome to InFomin! We are Amit and Ashutosh, the creators of this platform.</p>
                    <p>We are passionate about sharing knowledge and insights on various topics through engaging blog posts.</p>
                    <p>Our goal is to provide valuable content that informs, educates, and entertains our readers.</p>
                    <p>Feel free to explore our posts and join us in our journey of learning and discovery.</p>
                    <p class="card-text text-primary">
                        We aim to provide valuable insights, knowledge, and discussions on various topics.
                    </p>
                    <!-- You can add more content here -->
                </div>
            
    </div>
</div>
{% endblock %}
