{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bg-white shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="text-info">Contact Us</h2>
    <p class="text-success">Feel free to get in touch with us. If you have any questions, suggestions, or feedback, please reach out to us using the contact information below.</p>
    
    <div class="row">
        <div class="col-md-6">
            <h4>Amit</h4>
            <p>Email: amit@gamil.com</p>
            <p>Phone: +9142564757</p>
        </div>
        <div class="col-md-6">
            <h4>Ashutosh</h4>
            <p>Email: ashutosh@gmail.com</p>
            <p>Phone: +9876543210</p>
        </div>
    </div>
</div>
{% endblock %}
